.conteudo {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 50vh;
    margin: 0px auto 200px;
    margin-top: 0 px;
    position: relative;


}

.conteudo button{
    width: 25%;
    height:  80px;
    margin-left: 30%;
    margin-top: 2%;
    border-radius: 15px;
    color: white;
    background-color: #0aca62;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 10%;
    right: 10%
}

.botoes {
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.botao {
    background-color: red;
    width: 50px;
    height: 50px;
    z-index: -1;
}

.botoes button {
    width: 50px;
    height: 50px;
    color: white;
    background-color: #0aca62;
    font-weight: 700;
    font-size: 25px;
    margin: 5px 5px;
}

.palavraSelecionada {
    display: flex;
    margin: 300px 0;
    height: 300px;
}

.letraPalavra {
    width: 50px;
    height: 50px;
    color: black;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forca {
    width: 300px;
    height: 500px;
}

.escondida {
    display: none;
}

.verde {
    color: green;
}

.vermelho {
   color: red;
}

.chute {
    width: 349px;
    height: 50px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.chute input {
    width: 200px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    
}

.chute button {
    width: 129px;
    height: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 18px;
    background-color: #0aca62;
}


.botoes button:disabled {
    background-color: gray;
}